<h1>Create product!</h1>

<form action="/api/products" method="POST">
    <label>Title</label>
    <input name="title"><br>

    <label>Code</label>
    <input name="code"><br>

    <label>Description</label>
    <input name="description"><br>

    <label>Price</label>
    <input name="price"><br>

    <label>Stock</label>
    <input name="stock"><br>

    <label>Category</label>
    <input name="category"><br>

    <input type="submit">
</form>

<h2><a href="/">Back to menu</a></h2> 