<h1>Hello! you are in REALTIMEPRODUCTS!</h1>

<ul id="productsLog">
</ul>

<h2><a href="/">Back to menu</a></h2> 

<script src="/socket.io/socket.io.js"> </script>
<script src="/js/client.js"> </script>
